.changePasswordContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #000000;
}

.changePasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.changePasswordTitle {
    font-weight: 800;
    font-size: 1.7rem;
    line-height: 2.3rem;
    text-align: center;
    margin-bottom: 3rem;
}



.rowForm {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    margin-bottom: 0.5rem;
    align-self: center;
}

.inputForm {
    width: 17rem;
    height: 3.7rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
}


.disableBtn {
    background: #D1D1D1;
    border-color: #D1D1D1;
}


.activeBtn {
    background: #C1E1FF;
    border-color: #C1E1FF;
}





@media (max-width: 1024px) {
    .changePasswordTitle {
        margin-bottom: 1rem;
    }

    .rowForm {
        margin-bottom: 1rem;
    }
}