.orderContent {
    height: 13.75rem;

    display: flex;
    justify-content: space-between;

    border: 1px solid #000000;
    border-radius: 5px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.063rem;

    color: #000000;
}

.orderContentButton {
    margin-bottom: 0.5rem;
}



.orderContentWrap {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.orderContentData {
    display: flex;
    width: 16.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5rem;
}


.orderContentDataRow span {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

.orderContentNote {
    display: flex;
    width: 19.125rem;
    flex-direction: column;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

.orderContentNoteAlarmWrap {
    height: 1.594rem;
    width: 1.594rem;
}

.orderContentNoteAlarm {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    border-bottom: 1px solid #000000;
}


.orderContentNoteText {
    height: 100%;
    padding: 0.5rem 1.5rem 1.375rem 1.5rem;
    overflow-y: scroll;
}

.orderContentNoteText span {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

.orderContentStatus {
    height: 100%;
    width: 34.188rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.orderContentStatusWrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.orderContentStatusBtn {
    width: 15.563rem;
    height: 3.688rem;
    margin-right: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #C1E1FF;
    border-radius: 5px;

}

.btnActive {
    background: #C1E1FF;
}

.orderContentStatusIconBtn {
    width: 74px;
    height: 57px;
    border: 2px solid #C1E1FF;
    border-radius: 5px;
    margin-left: 0.75rem;
}

.iconContentAlarm {
    height: 100%;
    width: 100%;
    color: #7ab5ec;
}

.iconContentAlarmActive {
    height: 100%;
    width: 100%;
    color: #1d6cb5;
}

.iconContent {
    height: 100%;
    width: 100%;
}

.orderContentNoteActive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #000000;
}

.orderContentNoteActive span {
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
}

.orderContentNoteActiveAlarm {
    height: 1.594rem;
    width: 1.594rem;
}

.orderItemContent {

    display: flex;
    height: 100%;
    width: 100%;

    align-content: flex-start;
    flex-wrap: wrap;
}


.orderItemContent div:nth-of-type(even) {
    border-left: none;
}

.orderItemButtons {
    height: 6.688rem;
    width: 49.88%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.orderItemBtn {
    width: 15.5rem;
    height: 3.563rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #C1E1FF;
    border-radius: 5px;
    font-size: 18px;

    cursor: pointer;
}

.orderItemBtn:hover {
    background-color: #C1E1FF;
}

@media (max-width:1300px) {
    .orderItemButtons {
        width: 49.79%
    }

    .orderItemBtn {
        width: 12.5rem;
        height: 2.563rem;
    }
}