.orderContent {
    height: 13.75rem;

    display: flex;
    justify-content: space-between;

    border: 1px solid #000000;
    border-radius: 5px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.063rem;

    color: #000000;
}

.orderContentButton {
    margin-bottom: 0.5rem;
}



.orderContentWrap {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.orderContentData {
    display: flex;
    width: 16.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5rem;
}


.orderContentDataRow span {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

.orderContentNote {
    display: flex;
    width: 19.125rem;
    flex-direction: column;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

.orderContentNoteAlarm {
    padding-top: 1.875rem;
    padding-left: 1.875rem;
    padding-bottom: 0.75rem;
    height: 1.594rem;
    width: 1.594rem;
}


.orderContentNoteText {
    height: 100%;
    border-top: 1px solid #000000;
    padding: 0.5rem 1.5rem 1.375rem 1.5rem;
    overflow-y: scroll;
}

.orderContentNoteText span {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

.orderContentStatus {
    height: 100%;
    width: 34.188rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.orderContentStatusWrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.orderContentStatusBtn {
    width: 15.563rem;
    height: 3.688rem;
    margin-right: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #C1E1FF;
    border-radius: 5px;

}

.btnActive {
    background: #C1E1FF;
}

.orderContentStatusIconBtn {
    width: 74px;
    height: 57px;
    border: 2px solid #C1E1FF;
    border-radius: 5px;
    margin-left: 0.75rem;
}

.iconContent {
    height: 100%;
    width: 100%;
}

.orderItemContent {

    display: flex;
    height: 100%;
    width: 100%;

    align-content: flex-start;
    flex-wrap: wrap;
}

.orderItemContent div:nth-of-type(even) {
    border-left: none;
}