.orderItemContent {
    height: 6.688rem;
    width: 49.88%;

    display: flex;
    justify-content: space-evenly;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.orderItemContentRow {

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.orderItemContentRow div:last-child {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.orderItemImage {
    height: 4.688rem;
    width: 5.813rem;
}

.orderItemImageWrap {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media (max-width:1300px) {
    .orderItemContent {
        width: 49.79%
    }
}