.businessInfoContent {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.imgContent {
    height: 5rem;
    width: 5rem;
}

.imgContentWrap {
    height: 100%;
    width: 100%;
}

.businessInfoContentWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.businessInfoContentWrap span {
    font-weight: 800;
}

.btnEdit {
    width: 4.6rem;
    height: 3.5rem;
    align-self: center;
    box-sizing: border-box;
    border: 2px solid #C1E1FF;
    border-radius: 5px;
    padding: 0.8rem;
}

.btnEditContent {
    height: 100%;
    width: 100%;
}