.productListPage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageContent {
    display: flex;
    width: 90%;
    padding-bottom: 16vh;
    justify-content: space-between;
}


.productListContent {
    height: 100vh;
    width: 68%;
}

.contentBlockTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
}


.productCardContent {
    height: 100vh;
    width: 30%;

}

.businessBtnOrder {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #C1E1FF;
    cursor: pointer;


    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    position: fixed;
    bottom: 0;
}


.blockTitle {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
}

.blockSubTitle {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding-top: 1vh;

}

.blockItems {
    padding-top: 2vh;
    height: 100%;

}

.productCardItems {
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 6vh;
    height: 100%;
}

.productCardText {
    margin: 16px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #D1D1D1;
}