.pageContent {
    height: 83vh;
    width: 80rem;
    display: flex;
    justify-content: center;
    gap: 0 2.75rem;
    margin: 0 auto;
}

.contentItems {
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
}

.contentTitle {
    margin-top: 1rem;
    align-self: center;
    font-weight: 800;
    font-size: 1.75rem;
    line-height: 2.3rem;
}

.contentItemsSubTitle {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
}

.contentItemsWrap {
    height: 33rem;
    overflow-y: scroll;
    box-sizing: border-box;
}

.contentCarts {
    display: flex;
    flex-direction: column;
    gap: 3.6rem 0;
}

.iconCart {
    display: none;
}

@media (max-width: 1024px) {
    .pageContent {
        width: 64rem;
    }

    .contentItems {
        width: 40rem;
    }
}