.pageContent {
    height: 80%;
    display: flex;
    justify-content: center;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;

    color: #000000;
}


.pageContentWrap {
    width: 65rem;

    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
}

@media (max-width:1024px) {
    .pageContent {
        padding: 0.5rem;
    }
}

@media (min-width:2800px) {
    .pageContentWrap {
        width: 67rem;
    }
}