.productCartItems {
    height: 33.0rem;
    width: 19.25rem;
    border: 1px solid #000000;
    border-radius: 5px;
    overflow-y: scroll;
}

.productCartText {
    margin: 16px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #D1D1D1;
}

.productCartTotal {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.productCartTotalPrice {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;

    text-align: center;
    color: #000000;
}

.productCartTotalText {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    text-align: center;

    color: #000000;
}

@media (max-width: 1024px) {
    .productCartItems {
        height: 25.0rem;
        width: 17rem;
    }
}