.personalInfoContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem 0;
    overflow-y: scroll;
}

.contentWrap {
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentWrap input[type="date"]::-ms-clear {
    display: none;
}


.contentWrapNote {
    height: 100%;
    text-align: start;
}

.contentWrapLabel {
    align-self: flex-start;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6rem;


    color: #000000;
}

.contentInput {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 1rem;

    color: #000000;


    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}


@media (max-width: 1024px) {
    .contentWrap {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 320px) {
    .contentWrap {
        width: 14rem;
    }
}

@media (max-width: 280px) {
    .contentWrap {
        width: 12rem;
    }
}