.personalInfoContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contentWrap {
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.contentWrap input[type="date"]::-ms-clear {
    display: none;
}


.contentWrapNote {
    height: 100%;
    text-align: start;
}

.contentWrapLabel {
    align-self: flex-start;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 8px;


    color: #000000;
}

.contentInput {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    padding: 16px;

    color: #000000;


    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}

.businessBtn {
    width: 100vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #C1E1FF;
    cursor: pointer;


    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    position: fixed;
    bottom: 0;
}

@media (max-width: 1024px) {
    .contentWrap {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 320px) {
    .contentWrap {
        width: 14rem;
    }
}

@media (max-width: 280px) {
    .contentWrap {
        width: 12rem;
    }
}