.addProductContent {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.addProductContentTitle {
    font-weight: 800;
    font-size: 1.7rem;
    line-height: 2.2rem;
}

.addProductContentWpar {
    box-sizing: border-box;
}

.addProductContentButtons {
    display: flex;
    justify-content: space-between;
    width: 32.6rem;
}

.activeBtn:hover {
    background: #C1E1FF;
}