.productsViewContent {
    height: 100%;
    width: 73.75rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.productsViewContentBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5rem;
}

.productsViewContentBtn>div {
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.activeBtn:hover {
    background: #C1E1FF;
}




@media (max-width: 1024px) {
    .productsViewContent {
        width: 62rem;
    }
}