.showUpdateProductContent {
    height: 12.2rem;
    width: 72.5rem;

    display: flex;

    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;

    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem;
}


.deleteProductBtn {
    height: 100%;
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    border-left: 1px solid black;
}

.deleteProductBtnWrap {
    height: 1.5rem;
    width: 1.5rem;
}

.deleteProductBtnIcon {
    height: 100%;
    width: 100%;
    color: red;
    font-size: 2rem;
}

@media (max-width: 1024px) {
    .showUpdateProductContent {
        width: 63rem;
    }
}