.marketPageStart {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.businessTitle {
    height: 45vh;
    align-self: center;
}

.businessTitleText {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}

.businessLogoWrap {
    height: 82px;
    width: 132px;
}

.businessLogo {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.businessBtnStart {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #C1E1FF;
}

.businessBtnStartText {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    color: #000000;
}