.confirmCodeFormPage {
    height: 70%;
    width: 100%;
}

.formContent {
    display: flex;
    width: 17rem;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}

.formLabelText {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-bottom: 0.5rem;


    color: #000000;
}

.smsCode {
    height: 3.7rem;
    width: 17rem;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    padding-left: 1rem;

    text-align: start;

    /* black */

    color: #000000;

}


.submitBtn {
    height: 3.7rem;
    width: 100%;
    margin-top: 2.2rem;
    background: #A2D2FF;
    border-radius: 5px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6rem;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.contentSendAgain {
    display: flex;
    justify-content: center;

    margin-top: 3rem;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6rem;
    /* identical to box height */

    text-align: center;

    color: #000000;

}


.btnSendAgain {
    text-decoration: underline;
}

.btnInActive {
    background: #D1D1D1;
}